* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    font-size: 15px;
}

/* REGOLE DEI CONTAINERS */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-height: 80vh;
    width: 18vw;
    border-radius: 15px;
}

/* REGOLE ELEMENTI */
img {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: 2vh;

}

.text {
    margin-top: 3vh;
    width: 90%;
    flex-grow: 1;  
}

h1 {
    margin-bottom: 2vh;
    font-size: 1.5vw;
    text-align: center;
}

p {
    margin-bottom: 5vh;
    color: grey;
    font-size: 1vw;
    text-align: center;
}


/* Media query per schermi piccoli */
@media (max-width: 600px) {

    .card {
        width: 80vw;  
    }

    img {
        width: 90%; 
        height: auto;
    }

    .text {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;  
    }
    
}